@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");

* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

@font-face {
    font-family: Lato;
    src: url('../fonts/Lato-Regular.ttf');
}

body {
    margin: 0;
    font-family: Lato;
    font-size: 30px;
    font-weight: 400;
}


/* Linea 1 */

/* 
 *    Comentario    
 *    Linea 1  
 */

h1 {
    /* background-color: green;*/
    /*opacity: 10%;*/
    /* background-repeat: repeat-x;*/
    color: white;
}

.algo {
    background-image: url("../../img/fondo.jpg");
    color: white;
}

.border-1 {
    /*border: 1px solid rgb(135, 32, 32);*/
    /*
    border-left: 4px dotted orange;
    border-right: 4px solid red;
    border-top: 10px solid green;
    border-bottom: 1px solid blue;
    */
    /* border-radius: 0 10px 10px 0;*/
    /*border-radius: 10px;*/
    border-radius: 0 10px;
    border-color: rgb(135, 32, 32);
    border-width: 1px;
    border-style: solid;
}

.border-2 {
    border: 1px solid black;
    margin: 50px;
}


.border-3 {
    border: 1px solid black;
    margin: 0 auto;
    width: 400px;
}

.border-4 {
    border: 1px solid black;
    padding: 20px 40px;
    font-size: 10px;
}

li > a.active {
    color: #333;
}

h2 ~ div {
    color: rebeccapurple;
}

.width-1 {
    border: 1px solid black;
    width: 600px;
    margin: 0px auto;
    display: inline-block;
}

.text-aling {
    text-align-last: center;
}

.font-size {
    font-size: 1rem;
}

.icon {
    background-color: rgb(255, 191, 80);
    border-radius: 15px;
    text-align: center;
    height: 30px;
    width: 100px;
}

.btn {
    text-decoration: none;
    padding: 12px 24px;
}

.btn-submit:link, .btn-submit:visited {
    color: white;
    background-color: #2968c8;
    border-radius: 5px;
}

.btn-submit:hover {
    color: white;
    background-color: #2962b7;
    border-radius: 5px;
}

.btn-submit:active {
    color: white;
    background-color: #235092;
    border-radius: 5px;
}

.btn-cancel:link, .btn-cancel:visited {
    color: rgb(255, 255, 255);
    background-color: #b6b6b6;
    border-radius: 5px;
}

.btn-cancel:hover {
    color: rgb(255, 255, 255);
    background-color: #a4a4a4;
    border-radius: 5px;
    transform: translate(5px, 5px);
}

.btn-cancel:active {
    color: rgb(255, 255, 255);
    background-color: #838383;
    border-radius: 5px;
}

table, td, th {
    border-left: 2px black solid;
}

table {
    width: 100%;
    border-collapse: collapse;
}

tr:nth-child(even) {
    background-color: #e9e9e9;
}

th {
    height: 5rem;
    background-color: #2968c8;
    color: #fff;
}

td.cost {
    text-align: right;
    font-weight: bold;
}

.center {
    text-align: center;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.info-whatsapp {
    background-color: #25D366;
    font-size: 20px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    text-align: center;
    color: white;
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.translate-icon {
    transform: translateY(5px);
}

.pegajoso {
    position: sticky; 
    top: 0px;
    background-color: #25D366;
}

#subtitle {
    color: brown;
}



ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }

  
  .active {
    background-color: red;
  }

  .flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: baseline;
    align-content: stretch;
    height: 300px;
  }

  .flex-item {
    color: black;
    border: 1px solid black;
    flex-grow: 1;
  }